
<br></br>
{{#each trips as |trip|}}
<div class="card border-secondary mb-3" id="top5"><a href="http://localhost:3333/itinerary">
    <div class="card-header" >
        {{trip.arrival}}
        </div>
        <img src={{trip.url}}href="http://localhost:3333/form" class="card-img-top" alt="...">
        <div class="card-body text-secondary">
          <h5 class="card-title">{{trip.destination_name}}</h5>
          <p class="card-text">{{trip.description}}</p>
          <p class="card-text"><small class="text-muted"> &#x1F464;  # of people already signed up for this trip! </small></p>
        </div>
      
      </a>{{/each}}</div>