

<div class="card border-secondary mb-3" >
    <div class="card-header">
        Tentative Trip Dates!
        </div>
        <img src="https://res.cloudinary.com/dw8zecnb1/image/upload/c_fill,g_auto,h_250,w_970/v1625943696/1g2_ts94f2.jpg"href="http://localhost:3333/form" class="card-img-top" alt="..."
        <div class="card-body text-secondary">
          <h5 class="card-title">Travel Destination</h5>
          <p class="card-text">This is the travel destination description. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam alias tenetur, accusamus maxime perspiciatis consequatur debitis vitae vero odit illum ut vel facere explicabo magni recusandae! Voluptatibus quibusdam consequatur magni..</p>
          <p class="card-text"><small class="text-muted"> &#x1F464;  # of people already signed up for this trip! </small></p>
        </div>
      </div>

<li class="c1"><a href="http://localhost:3333/itinerary">next</a></li> 
//******* We will need to render in this data from an API - it is hardcoded here for now. ***********
