    <div class= "end">
 
     <h1>Awesome Booking is complete.. </h1>
     <h1 id= "star-five"></h1>
     <p> Your Itinerary will be sent to your email </p>
 <p>
    TraverlsRus will be in touch within 24 hours
    for any question please email us at Jetaway.com
     or call at 800-555-5555</p>  
 </div>

