    <div class= "end">
 
     <h1>Awesome! Your Booking is complete.. </h1>
     <h1 id= "star-five"></h1>
     <p> Your Itinerary will be sent to your email </p>
 <p>
    TraverlsRus will be in touch within 24 hours
    for any question please email us at Jetaway.com
     or call at 800-555-5555</p>  
     <p>Thank for booking with JetAway!</p>
     {{!-- <button class="c1"><a href="http://localhost:3333/main">Home</a></button>  --}}
 <li class="button"><a href="http://localhost:3333/homepage">Home</a></li> 
 

     
 </div>

