

<div class = "container">
  <div class="card">
      <img src="https://res.cloudinary.com/dtk7zh09m/image/upload/c_fill,g_auto,h_250,w_970/v1626359092/xgroup_travel_header-a8efbe53.jpeg.pagespeed.ic.uFHYiFAMnB_k58c5y.jpg" class="card-img-top">
      <div class="row">
        <div class="col-xs-6">
          <div class="card">
            <div class="card-body">
            <h3 class="card-title">Thank you, {{booking.firstName}}, for booking!! </h3>
            <p>Your confirmation number is: 4582154754B</p>
              <p class="card-text">A TraverlsRus agent will be in touch within 24 hours
    for any question please email us at Jetaway.com
     or call at 800-555-5555</p>  
     <p>{{booking.destination}} will be a trip of a life time!</p>
            <a href="https://jetaway1.herokuapp.com/homepage" class="btn btn-warning btn-lg">Go Home!</a>
          </div>
        </div>
      </div>
      </div>
      </div>
</div>