<div class="jumbotron jumbotron-fluid" id="title" >
        <div id="title">
          
          <p id= "line1">Travel The World,</p>
            <p id= "line2">Experience New Adventures,</p>
            <p id= "line3">and Meet New People</p>
            <p id= "line4">Let's JetAway!</p>
     </div>
    <!-- CSSMap - Continents -->
    <h1 style="text-align: center;">Click a Continent Below to begin your search!</h1>
<div id="map-continents">
    <ul class="continents"> 
     <li class="c1"><a href="http://localhost:3333/africa">Africa</a></li>  <!-- onclick='africa()' --> 
     <!-- Once we have our different routes created we could link them in the href -->
     <li class="c2"><a href="#asia">Asia</a></li>
     <li class="c3"><a href="#australia">Australia</a></li>
     <li class="c4"><a href="#europe">Europe</a></li>
     <li class="c5"><a href="#north-america">North America</a></li>
     <li class="c6"><a href="#south-america">South America</a></li>
    </ul>
   </div>
   <!-- END OF THE CSSMap - Continents -->
   