

<div class = "container">
  <div class="card">
      <img src="https://res.cloudinary.com/dw8zecnb1/image/upload/c_fill,g_auto,h_250,w_970/v1625943696/1g2_ts94f2.jpg" class="card-img-top">
      <div class="row">
        <div class="col-xs-6">
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">DESTINATION NAME</h5>
              <p class="card-text">DESTINATION SUMMARY Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, iure? Omnis rerum obcaecati veniam commodi facilis cupiditate illo. Dolores veniam omnis laboriosam et nihil sint tempore debitis facere, voluptates dolor. Below are a few of the activities you will be able to participate on this trip!</p>
              <ul class="card-body list-group list-group-flush">
                <li class="list-group-item">Activity 1</li>
                <li class="list-group-item">Activity 2</li>
                <li class="list-group-item">Activity 3</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card">
          <div class="card-body">
          <h5 class="card-title">TRIP DATES AGAIN</h5>
            <p class="card-text">This adventure is specifically designed to group you with other travelers to enjoy <strong>The Trip of A Life Time</strong>!! Note: Booking here reserves you seat on this adventure. Our top travel agents will connect with you to provide all official travel information.
            <p><small>All travel arrangements will be made with TravelersRus.com</small> </p>
            <a href="http://localhost:3333/form" class="btn btn-warning btn-lg">Book Now!</a>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
         

