

<div class="column1">
    <div class="card" style="width: 300px;">
        <div class="card-divider">
          <h4>Greece</h4>
        </div>
        <div style= "background-color:rgba(237, 240, 241, 0.7); ">
        <img src="assets/img/img2.png" alt="Girl in a jacket"  style ="   display: block;
        margin-left: auto;
        margin-right: auto;width:50%; height:100%" >
       </div>
       <div id='back-ground'>
        <div class="row">
          <div id="begin" class="medium-12 large-12 columns" style= "margin-left: auto; ">
      
            <div class="card-section">
              <p>All Trips Must Be Booked Per Person</p>
             
    <table class="table">
      <div class="grid-x grid-padding-x" >
      <fieldset class="large-6 cell">
        <label for="week">Choose a week in May or June:</label>
<input type="week" name="week" id="camp-week"
       min="2021-W18" max="2030-W26" required>
 </fieldset>
 <fieldset class="large-6 cell"> Note: This app was specifically
   designed to group travelers togethers and plan out <strong>The Trip of A Life Time</strong>, we guarantee 
   you would never forget. All other booking arrangement will be made with TravelersRus.com
   
 </fieldset>
      </div>
    
    </div><br></br>
    </fieldset>
    <p>Will you be requiring any of the following</p>
              <div class="grid-x grid-padding-x">
                <fieldset class="large-6 cell">
                  <legend>Special seating</legend>
                  <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">yes</label>
                  <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">no</label>
        
                </fieldset>
                <fieldset class="large-6 cell">
                    <legend>Special diet</legend>
                    <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">yes</label>
                    <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">no</label>
          
                  </fieldset>
                  <fieldset class="large-6 cell">
                    <legend>Special Accommodation </legend>
                    <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">yes</label>
                    <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">no</label>
          
                  </fieldset>
                  <div class="wrap">
             <li class="button"><a href="http://localhost:3333/form">Submit</a></li> 
                  </div>
                  
              </div>
                        
            </div>
        </div>
    