

<div class="card border-secondary mb-3" id="top5"><a href="http://localhost:3333/itinerary">
    <div class="card-header" >
       <h3>Title of Destination Trip!</h3>
        </div>
        <img src="https://res.cloudinary.com/dw8zecnb1/image/upload/c_fill,g_auto,h_250,w_970/v1625943696/1g2_ts94f2.jpg"href="http://localhost:3333/form" class="card-img-top" alt="..."
        <div class="card-body text-secondary">
       {{!-- </div>
       <div id='back-ground'>
        <div class="row">
          <div id="begin" class="medium-12 large-12 columns" style= "margin-left: auto; ">
      
            <div class="card-section"> --}}
              <p>All Trips Must Be Booked Per Person</p>
             
    <table class="table">
      <div class="grid-x grid-padding-x" >
      <fieldset class="large-6 cell">
        <label for="week">Choose a week:</label>
<input type="week" name="week" id="camp-week"
       min="2021-W18" max="2030-W26" required>
 </fieldset>
 <fieldset class="large-6 cell"> Note: This app was specifically
   designed to group travelers together and plan out <strong>The Trip of A Life Time</strong>, we guarantee 
   you would never forget. All other booking arrangements will be made with TravelersRus.com
   

                 
                  { <div class="wrap">
           <li class="button"><a href="http://localhost:3333/form"><span style= "color:white;">Next</span></a></li> 
                  </div> 
                  
              </div>
                        
            </div>
        </div>
    